<div class="well">
<div class="card">
  <img *ngIf='"V_TEMP" == tipos[sensor.type] ' class="card-img-top img-responsive" src="../../assets/termometro.png">
  <img *ngIf='"V_STATUS" == tipos[sensor.type] && sensor.value == 1 ' class="card-img-top img-responsive" (click)="onApagar()" src="../../assets/bombillaON.png">
  <img *ngIf='"V_STATUS" == tipos[sensor.type] && sensor.value == 0 ' class="card-img-top img-responsive" (click)="onEncender()" src="../../assets/bombillaOFF.png">
  <img *ngIf='"V_IR_SEND" == tipos[sensor.type] ' class="card-img-top img-responsive" (click)="onIRSend()" src="../../assets/bombillaON.png"> 
  <div class="card-header">
    <label *ngIf="!editNombre">
      {{sensor.nombre}}
    </label>
    <div *ngIf="editNombre" class="input-group">
      <input type="input" class="form-control" name="nombre" required placeholder="Nombre" [(ngModel)]="sensor.nombre">
      <span class="input-group-addon" (click)="onEditNombre()"><i class="glyphicon glyphicon-edit"></i></span>
    </div>
  </div>
   
  <div class="card-body">
    <label>Valor:</label>{{sensor.value}}
  </div>
  <div class="card-body">
    <label>Última actualización:</label>{{sensor.updateTime}}
    tipo: {{sensor.type}}
  </div>
  <div class="card-footer">
    <a (click)="onEditClick()" class="card-link"><span class="glyphicon glyphicon-edit"></span>Editar Nombre</a>
  </div>
</div>
</div>