<div class="well">
<div class="card">
  <img class="card-img-top img-responsive" src="../../assets/termometro.png">
  <div class="card-header">
    <label *ngIf="!editNombre">
      {{sensor.nombre}}
    </label>
    <div *ngIf="editNombre" class="input-group">
      <input type="input" class="form-control" name="nombre" required placeholder="Nombre" [(ngModel)]="sensor.nombre">
      <span class="input-group-addon" (click)="onEditNombre()"><i class="glyphicon glyphicon-edit"></i></span>
    </div>
  </div>
   
  <div class="card-body">
    <label>Valor:</label>{{sensor.value}}
  </div>
  <div class="card-body">
    <label>Última actualización:</label>{{sensor.updateTime}}
  </div>
  <div class="card-footer">
    <a (click)="onEditClick()" class="card-link"><span class="glyphicon glyphicon-edit"></span>Editar Nombre</a>
  </div>
</div>
</div>